#Link{
    margin: 0 auto;
    background-color: #d9feff;
    max-height: calc(100vh - 4rem);
    width: 100%;
    max-width: 100rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: -2rem;
}
.LinkTitle{
    margin: 3rem 0;
    color: #5ce1e6;
    font-size: 3rem;
}
.LinkTitle{
    display: inline-block;
    text-decoration: none;
    border: 2px solid #5ce1e6;
    padding: 12px 34px;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    position: relative;
    cursor: auto;
}
.Linksimg{
    height: 45vh;
}
@media (max-width:480px){
    .LinkTitle{
        width: 25%;
        height: 6vh;
        font-size: 20px;
    }
    .Linksimg{
        width: 95%;
        height: 20vh;
    }
}