.div11{
    background: white;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.div22{
    width: 48%;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    background: #d9feff;
    border-radius: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 10rem;
    text-align: left;
    padding-left: 2rem;
    margin-bottom: 15rem;
}
table{
    width: auto;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 1rem;
}
th{
    border: 1px solid black;
    padding-left: 2rem;
    padding-right: 2rem;
}
td{
    border: 1px solid black;
    padding-left: 2rem;
    padding-right: 2rem;
}
.button3{
    width: 15%;
    font-size: 15px;
    height: 5vh;
    cursor: pointer;
}
@media (max-width: 480px) {
    .div22{
        width: 90%;
    }
    .div22 table{
        font-size: 10px;
        height: 40vh;
    }
    .div22 td{
        padding-left: 5px;
        padding-right: 5px;
    }
    .div22 th{
        padding-left: 5px;
        padding-right: 5px;
    }
    .div22 .button3{
        width: 18%;
        font-size: 12px;
        height: 4vh;
    }
}