form{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    width: 40%;
    background: #d9feff;
    border-radius: 1rem;
    margin-top: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 4rem;
}
h3{
    font-size: 42px;
    font-weight: 700;
    text-align: left;
    padding-left: 2rem;
}
label{
    font-size: 17px;
    display: flex;
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: poppins;
}
input{
    display: flex;
    margin-left: 2rem;
    margin-bottom: 2rem;
}
.check{
    margin-top: -2rem;
}
input.form-control{
    width: 90%;
    height: 7vh;
    border-radius: 1rem;
    border: 1px solid grey;
    font-size: 15px;
    padding-left: 1rem;
    font-family: poppins;
    background: rgb(238, 238, 238);
}
button{
    width: 200px;
    height: 6vh;
    border-radius: 1rem;
    border: 1px solid #56ece1;
    background: #56ece1;
    font-size: 20px;
    font-family: poopins;
    color: white;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #56ece1;
}
@media (max-width: 480px){
    form{
        width: 70%;
     }
     h3{
        font-size: 25px;
     }
     label{
        font-size: 10px;
     }
     input.form-control{
        width: 80%;
        height: 5vh;
     }
     button{
        width: 30%;
        font-size: 17px;
        height: 5vh;
     }
     .forgot-password{
        font-size: 12px;
        margin-top: 1rem;
     }
}