.div11{
    background: white;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.div2{
    width: 40%;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    background: #d9feff;
    border-radius: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 10rem;
    text-align: left;
    padding-left: 2rem;
    margin-bottom: 15rem;
}
.div2 h1{
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}
.div2 button{
    margin: 0 auto;
    align-items: center;
}
.div2 button{
    width: 100px;
    height: 40px;
    outline: none;
    border: 1px solid #fefbfb;
    border-radius: 75px;
    color: rgb(236, 241, 241);
    font-size: 15px;
    font-weight: 500;
    background: #5CE1E6;
    cursor: pointer;
}
.div2 button:hover{
    background: #000000;
    transition: 0.5s;
}
@media (max-width: 768px){
    .div2{
        width: 80%;
        font-size: 15px;
    }
    div h1{
        font-size: 12px;
    }
    .div2 button{
        width: 70px;
        height: 25px;
        font-size: 12px;
    }
}