.navbar{
    width: 100%;
    display: flex;
    justify-content:space-around;
    box-shadow: 0 1px 3px -2px black;
    position: sticky;
    top: 0;
    z-index: 3;
    background: #d9feff;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo img{
    width: 250px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 13px;
    font-weight: 500;
}
.nav-menu a{
    color: black;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 90%;
    height: 3px;
    border-radius: 10px;
    background: #5CE1E6;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-login-cart button{
    width: 70px;
    height: 40px;
    outline: none;
    border: 1px solid #5CE1E6;
    border-radius: 75px;
    color: rgb(236, 241, 241);
    font-size: 15px;
    font-weight: 500;
    background: #ffffff;
    cursor: pointer;
}
.nav-login-cart img{
    width: 25px;
}
.nav-login-cart button:active{
    background: #000000;
    transition: 0.5s;
}
@media  screen and (max-width:840px) {
    .navbar{
        width: 103%;
    }
    .nav-menu{
        font-size: 12px;
        gap: 20px;
    }
}
@media  screen and (max-width:740px) {
    .navbar{
        width: 101%;
    }
    .nav-logo img{
        width: 205px;
    }
   .nav-menu{
    font-size: 10px;
    gap: 23px;
    align-items: center;
    text-align: center;
    margin-right: 2rem;
   }
   .nav-login-cart {
    width: 50px;
    font-size: 5px;
   }
   .nav-login-cart button{
    width: 55px;
    height: 34px;
    font-size: 12px;
    margin-left: -1rem;
   }

}
@media(max-width:670px) {
    .navbar{
        width: 104%;
    }
    .nav-login-cart{
        width: 10px;
        height: 5vh;
        margin-right: 2rem;
        margin-top: 1.6rem;
    }
    .nav-menu{
        margin-left: -2rem;
    }
}
@media(max-width:470px) {
    .navbar{
        width: 101%;
    }
    .nav-logo img{
        width: 142px;
    }
   .nav-menu{
    font-size: 2vw;
    gap: 10px;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
   }
   .nav-login-cart {
    width: 50px;
    font-size: 6px;
    margin-bottom: 1.3rem;
   }
   .nav-login-cart img{
    width: 15px;
   }
   .nav-login-cart button{
    width: 50px;
    height: 24px;
    font-size: 9px;
   }
   
}
