.footer{
    width: 100%;
    background: #d9feff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.footer-links{
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 13px;
    margin-top: 2rem;
    margin-bottom: -1rem;
}
.footer-links li{
    color: #1a1a1a;
    cursor: pointer;
    margin-right: 1rem;
}
.footer-social-icon{
    display: flex;
    gap: 20px;
    margin-bottom: -2rem;
}
.footer-icons-container{
    padding: 10px;
    height: 2.5vh;
    padding-bottom: 6px;
    background: #5ce1e6;
    border: 1px solid #fff;
}
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 10px;
}
.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #5ce1e6;
}
@media (max-width:840px) {
    .footer{
        width: 103%;
    }
}
@media (max-width:480px){
    .footer{
        width: 100%;
    }
    .footer-links{
        font-size: 7px;
    }
    .footer-icons-container{
        width: 5px;
        height: 8px;
    }
    .footer-icons-container img{
        width: 7px;
        height: 7px;
        padding-bottom: 1.2rem;
        margin-left: -0.08rem;
    }
}