#hero{
    height: calc(90vh - 4rem);
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.bg{
    width: 30vw;
    position: absolute;
    top: 6rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 50vh;
    background-color: #ffffff;
 }
.heroContent{
    height: 80vh;
    width: 70vw;
    padding: 0rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hello{
    font-size: 1.75rem;
    font-weight: 100;
}
.helloName{
    color: #5ce1e6;
}
.heropara{
    font-size:medium ;
    font-weight: 100;
    font-family: poppins;
}
.btn{
    display: flex;
    align-items: center;
    gap: 45px;
    padding-top: 1rem;
}
.btn button{
    width: 200px;
    height: 50px;
    outline: none;
    border:  solid #000000;
    border-radius: 75px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 500;
    background: #ffffff;
    cursor: pointer;
}
.btn button:hover{
    background: #5ce1e6;
    transition: 1s;
}
@media  screen and (max-width:740px) {
    .bg{
        width: 160px;
        height: 30vh;
        top: 8rem;
        right: 6vw;
    }
    .heropara{
        font-size: 9px;
    }
    .heroContent{
        font-size: 9vw;
        height: 100vw;
    }
    .hello{
        font-size: 5vw;
    }
    .btn{
        padding-top: 0.5px;
    }
    .btn button{
        width: 70px;
        height: 30px;
        font-size: 1.5vw;
    }
}
@media  screen and (max-width:480px) {
    .bg{
        width: 150px;
        height: 150px;
        top: 9rem;
        right: -3vw;
    }
    .heropara{
        font-size: 9px;
    }
    .heroContent{
        font-size: 9vw;
        height: 135vw;
    }
    .hello{
        font-size: 5vw;
    }
    .btn{
        padding-top: 0.5px;
    }
    .btn button{
        width: 70px;
        height: 30px;
        font-size: 2vw;
    }
}
