.body{
    width: 100%;
    margin: 0 auto;
    background: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.wrapper{
    margin: 0 auto;
    background: var(--white);
    padding: 2rem;
    max-width: 576px;
    width: 100%;
    border-radius: .75rem;
    text-align: center;
}
.wrapper h1{
    width: 35%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #5ce1e6;
    box-sizing: border-box;
    border: 1px solid #5ce1e6;
    border-radius: 0.5rem;
}
.wrapper h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: poppins;
}
.info h1{
    margin-top: -1rem;
    font-size: 20px;
    margin-bottom: 2rem;
    font-family: poppins;
    font-weight: 400;
}
.info1 h3{
    font-size: 40px;
    color: #5ce1e6;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #5ce1e6;
    width: 30%;
    height: 8vh;
    margin: 0 auto;
    margin-top: 4rem;
    padding-left: 0rem;
    border-radius: 1rem;
    padding-top: 0.3rem;
    margin-bottom: 2rem;
}
.info1 p{
    font-size: 20px;
    color: black;
    margin-bottom: 0.5rem;
}
.info1 p1{
    color: rgb(228, 64, 95);
}
.info1 p2{
    color: red;
    font-size: 15px;
}
.info a{
    text-decoration: none;
    color: black;
}
.info p{
    font-size: 20px;
    color: black;
}
.footer-copyright p1{
    font-size: 11px;
    color: black;
    margin-top: 1rem;
}

@media (max-width:740px){
    .wrapper{
        max-width: 85%;
    }
    .wrapper h1{
        font-size: 22px;
    }
}
@media (max-width:480px){
    .wrapper h1{
        margin-bottom: 1rem;
    }
    .info p{
        font-size: 15px;
    }
    .info h1{
        font-size: 12px;
    }
    .info1 h3{
        font-size: 22px;
    }
    .info1 p{
        font-size: 12px;
    }
    .info1 a{
        font-size: 10px;
    }
    .info1 p2{
        font-size: 10px;
    }
    .info1 h3{
        width: 50%;
        height: 7vh;
        padding-top: 0.6rem;
        font-size: 19px;
        margin-bottom: 2rem;
    }
    .info a{
        font-size: 10px;
    }
}
@media (max-width:380px){
    .wrapper h1{
        width: 42%;
        font-size: 15px;
        margin-bottom: 1rem;
    }
    .info p{
        font-size: 15px;
    }
    .info h1{
        font-size: 12px;
    }
    .info1 h3{
        font-size: 22px;
    }
    .info1 p{
        font-size: 12px;
    }
    .info1 a{
        font-size: 10px;
    }
    .info1 p2{
        font-size: 10px;
    }
    .info1 h3{
        width: 60%;
        height: 7vh;
        padding-top: 0.6rem;
        font-size: 18px;
        margin-bottom: 2rem;
    }
    .info a{
        font-size: 10px;
    }
}