.ptag1{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.ptag1 p{
    width: 70%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: -2rem;
    font-size: 15px;
    font-family: poppins;
}
.heading3{
    width: 100%;
    margin:0 auto;
    margin-top: 6rem;
}
.heading3 h1{
    font-size: 20;
    color: #eaf1f2;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid #5ce1e6;
    background: #5ce1e6;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}
.heading3 p{
    font-size: 16px;
    font-weight: 300;
    font-family: poppins;
    margin-bottom: 2rem;
}
.footer{
    margin-top: 2rem;
}
.footer-copyright p{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
