.othercrime{
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.otherCrime{
    margin-top: 4rem;
}
.otherCrime h1{
    margin: 0 auto;
    width: 18%;
    height: 7vh;
    padding-top: 0.2rem;
    font-size: 35px;
    box-sizing: border-box;
    border: 1px solid #56ece1;
    border-radius: 0.5rem;
    color: white;
    background: #56ece1;
    margin-bottom: 2rem;
}
.otherCrime p{
    font-size: 11px;
    margin-top: 1rem;
    font-family: poppins;
}
.Email form{
    width: 50%;
    height: auto;
    background: linear-gradient(180deg, #56ece1,#fff 80%);
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    border-radius: 2rem;
}
.Email form label{
    color: #fff;
    margin-left: 7rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.Email form input{
    width: 70%;
    margin: auto;
    height: 7vh;
    border-radius: 2rem;
    border: none;
    padding-left: 1rem;
}
.Email form textarea{
    width: 70%;
    height: 30vh;
    border-radius: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    border: none;
    margin-bottom: 2rem;
}
.Email form button{
    width: 15%;
    display: flex;
    font-size: 15px;
    margin: auto;
    padding-left: 2.3rem;
    padding-top: 0.8rem;
}
@media (max-width:940px) {
    .Email form button{
        width: 25%;
        padding: 10px 25px;
    }
}